body {
    background-color: black;
    background-color: black;
    background-size: cover;
}

p {
    word-wrap: break-word;
}
.main {

    margin: 0 auto;
}
h1 {
    color: greenyellow;
    text-shadow: 3px 3px 3px fuchsia;
    font-family: 'Bevan', cursive;
}

h6 {
    font-weight: bold;
    color: fuchsia;
}

.lead {
    color: greenyellow;
    text-shadow: 3px 3px 3px fuchsia;
    font-family: 'Bevan', cursive;

}
#hint {
    font-weight: bold;
}
.card-custom {
    color: greenyellow;
    text-shadow: 1px 1px fuchsia;
    font-family: 'Bevan', cursive;

}
.col-sm-3 {
    background-color: #444444;
    color: greenyellow;
    padding-bottom: 8px;
    font-weight: bold;
    width: 200px;
    word-wrap: break-word;
    margin: 0 auto;
}
.container-fluid { 
    max-width: 1000px;
    margin: 0 auto;
    word-wrap: break-word;
}
.jumbotron-fluid {
    margin: 0;
    background-image: url("../img/90sGame2.jpg");
    background-size: cover;
    color: white;
    margin-bottom: 15px;    
}

#brick {
    background-image: url("../img/bricks.jpg");
}
.card {
    width: 950px;
}
.card-body {
    background-color: #444444;
    
}
.row {
    color: greenyellow;
    margin: 0;
    margin-top: 15px;
}
.row-inner {
    font-weight: bold;
    text-align: center;
    
}

.col-md-4 {
    margin-top: 15px;
    width: auto;
    background-color: black;
}
#selected {
    color: greenyellow;
    font-family: 'Bevan', cursive;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Bowlby One SC', cursive;
    font-size: 50px;
    text-align: center;
}

#title {
    font-weight: bold;
    
}
#remaining {
    color: white;
}